# General modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework


# 3rd party modules
markdown 
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser

# Deployment modules

# Email third party modules
django-mail-templated

# Refactoring and Tests!
black
flake8
pytest
pytest-django